<%- include("base_layout.ejs") %>

<main>
    <form action="/user/change-password" method="post">
        <input type="hidden" name="phone" value="<%= phone %>">
        <div>
            <label for="newPassword">New Password:</label>
            <input type="password" id="newPassword" name="newPassword" required>
        </div>
        <button type="submit">Change Password</button>
    </form>
</main>

<%- include("footer_partial.ejs") %>
